<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Vinculación CSS -->
  <link href="/css/style.css" rel="stylesheet" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;600;700&display=swap"
    rel="stylesheet"
  />

  <!-- Script íconos -->
  <script
    src="https://kit.fontawesome.com/1f09d8586f.js"
    crossorigin="anonymous"
    src="https://kit.fontawesome.com/fe4cf9d18e.js"
    crossorigin="anonymous"
  ></script>

  <title>ElectroDoggy</title>
</head>
