<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Vinculación CSS -->
    
    <link href="/css/style.css" rel="stylesheet" />

    <!-- Fonts -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Script íconos -->

    <script
      src="https://kit.fontawesome.com/5c4a94bbfc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/png" href="/images/carrito.png" />

    <title>Carrito de Compras</title>

  </head>

  <body>
    <header>
      <h1>Header</h1>
      <img
        src="/images/construccion.jpg"
        alt="header"
        width="100%"
        height="700px"
      />
      <br />
      <br />
      <br />
    </header>

    <main>
      <h3 class="miCarrito">Mi carrito de compras</h3>
      
      <hr class="carrito-linea" >

<!-------------------------- Seccion Productos --------------------------->
      <div class="carritoPrueba">
    <section class="carrito-totalProductos">

      <article class="carrito-producto">
        <img src="/images/productos/producto3.jpg" alt="producto1" class="carrito-imgProd">
      <div class="carrito-tacho">
        <i class="fa-regular fa-trash-can"></i>
      </div>
      <div class="carrito-textoProd">
        <p class="carrito-marca">Nintendo</p>
        <h4 class="carrito-nombre">Nintendo Switch 32GB Standard</h4>
      </div>
      
      <div class="carrito-precioCant">
        <div class="carrito-cantidad">
          <button class="carrito-menos"> - </button>
          <input type="number" class="carrito-agregandoProd" value="1"> 
          <button class="carrito-mas"> + </button>
        </div>
        
      <div class="carrito-montosProd">
        <h6 class="carrito-sinDescuento">S/6,000.00</h6>
        <h3 class="carrito-conDescuento">S/4,298.00</h3>
      </div>
      </div>
      
      </article>

      <hr class="carrito-linea" >

      <article class="carrito-producto">
        <img src="/images/productos/producto6.jpg" alt="producto1" class="carrito-imgProd">
      <div class="carrito-tacho">
        <i class="fa-regular fa-trash-can"></i>
      </div>
      <div class="carrito-textoProd">
        <p class="carrito-marca">Apple</p>
        <h4 class="carrito-nombre">Iphone</h4>
      </div>
      <div class="carrito-precioCant">
      <div class="carrito-cantidad">
        <button class="carrito-menos"> - </button>
        <input type="number" class="carrito-agregandoProd" value="1"> 
        
        <button class="carrito-mas"> + </button>
      </div>

      <div class="carrito-montosProd">
        <h6 class="carrito-sinDescuento">S/9,000.00</h6>
        <h3 class="carrito-conDescuento">S/7,648.00</h3>
      </div>
      </div>
      </article>

    </section>

    <hr class="carrito-lineaProd" >

<!---------------------- Seccion Resumen de Compra ------------------------>
    <div class="carritoAyuda">
    <section class="carrito-totalesCompra">

      <article class="carrito-resumen">
        <h3 class="carrito-resumenCompra">Resumen de la compra</h3>
        <div class="carrito-resumenTexto">
        <h4 class="carrito-subtotalTexto">Subtotal</h4>
        <h4 class="carrito-subtotal">S/11,946</h4>
      </div>
      <div class="carrito-resumenTexto">
        <h4 class="carrito-costoEnvio">Costo de envío</h4>
        <h4 class="carrito-totalEnvio">Gratis</h4>
      </div>
      </article>

      <hr class="carrito-linea" >

      <article class="carrito-total">

        <h3 class="carrito-totalTexto">Total</h3>
        <h3 class="carrito-totalPrecio">S/11,946</h3>

      </article>

    </section>
  

    <hr class="carrito-linea" >

    <!-------------------------- Seccion Finalización --------------------------->

    <section class="carrito-finalizar">
      <article class="carrito-botonesFin">
        <button type="submit" class="carrito-finalizarCompra">Finalizar Compra</button>

        <button type="submit" class="carrito-seguirComprando">Seguir Comprando</button>
      </div>
      </article>
    </div>

      <hr class="carrito-linea" >


      <article class="carrito-tarjetas">
        <p class="carrito-tarjetaTexto">Paga Seguro</p>

        <div class="carrito-tarjetasIconos">
        <i class="fa-brands fa-cc-visa" id="carrito-visa"></i>
        <i class="fa-brands fa-cc-mastercard" id="carrito-master"></i>
      </div>

      </article>

    </section>

    <footer>
      <h3>Footer</h3>
      <img src="/images/sigue.jpg" alt="Footer" />
    </footer>
  </body>
</html>
