<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle-de-producto</title>
    <!-- Vinculación CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
  <!-- Script íconos -->
    <script src="https://kit.fontawesome.com/1f09d8586f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <main>
        <div>Rutas de producto//Breadcum</div>
        <div class="dp-informacion-producto">

            <section class="dp-contenedorImagenes">
                <div class="dp-imagenPrincipal">
                    <img class = "dp-imagen-producto" src="images/productos/producto1.jpg" alt="">
                </div>
                <div class="dp-slider-miniaturas">
                    <div class="dp-container-miniatura">
                        <img class ="dp-miniatura-producto" src="images/productos/producto2.jpg" alt="">
                    </div>
                    <div class="dp-container-miniatura">
                        <img class ="dp-miniatura-producto" src="images/productos/producto3.jpg" alt="">
                    </div>
                    <div class="dp-container-miniatura">
                        <img class ="dp-miniatura-producto" src="images/productos/producto4.jpg" alt="">
                    </div>
                    <!-- <img class ="dp-miniatura-producto" src="images/productos/producto3.jpg" alt="">
                    <img class ="dp-miniatura-producto" src="images/productos/producto4.jpg" alt=""> -->
                </div>
            </section>
            <section class="dp-product-description">
                    
                    <h4 class="dp-marca">Samsung</h4>
                    <h2 class="dp-modelo">Galaxy Note 20 Ultra</h2>
                    <p class="dp-precio-antes">$ 6,000.00</p>
                    <h2 class="dp-precio">$ 4,298.00 </h2>
                    <h5 class="dp-colores">Colores disponibles:</h5>
                    <div class="dp-contenedor-colores">
                        <div class="dp-selector-colores"></div>
                        <div class="dp-selector-colores"></div>
                        <div class="dp-selector-colores"></div>
                    </div>
    
                    <div class="dp-selectorCantidades">
                        <button class="dp-selectorCantidades-resta">-</button>
                        <input type="number" class="dp-selectorCantidades-numero" value="1" step="1">
                        <button class="dp-selectorCantidades-suma">+</button>
                    </div>
                
    
                    
                <button class="dp-añadir-a-carrito">Añadir al carrito</button>
                <div class ="dp-promesa-de-compra">
                    <div class="dp-promesa-de-valor">
                        <div class="dp-iconos-promesa">
                            <i class="fas fa-clock"></i>
                        </div>
                        <p> Entrega en 2 días </p>
                    </div>
    
                    <div class="dp-promesa-de-valor">
                        <div class="dp-iconos-promesa">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <p> Envío gratis </p>
    
                    </div>
    
                    <div class="dp-promesa-de-valor">
                        <div class="dp-iconos-promesa">
                            <i class="fas fa-shield-alt"></i>
    
                        </div>
                        <p> Compra segura </p>
    
                    </div>
    
                </div>
    
            </section>
        </div>
        <section class="dp-descripcion-detalles">
            <ul class="dp-especificaciones">
                <li><a href="#">Descripción</a></li>
                <li><a href="#">Especificaciones</a></li>
            </ul>
            <p class="dp-especificacionTexto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ut tellus facilisi sit viverra consequat at. Sagittis fringilla mattis non at auctor curabitur vitae tempor tincidunt. Sapien integer non semper a facilisis cursus ac pulvinar dolor. Non, suspendisse in risus sed diam. 
            </p>
        </section>
    </main>
    <footer></footer>

</body>
</html>