<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle-de-producto</title>
    <!-- Vinculación CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
  <!-- Script íconos -->
    <script src="https://kit.fontawesome.com/1f09d8586f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <main>
        <div>Rutas de producto//Breadcum</div>
        <section>Imágenes de producto
            <img class = "imagen-producto" src="/images/imagen-producto.png" alt="">
            <div class="slider-miniaturas">
                <img class ="miniatura-producto" src="/images/miniatura.png" alt="">
                <img class ="miniatura-producto" src="/images/miniatura.png" alt="">
                <img class ="miniatura-producto" src="/images/miniatura.png" alt="">
            </div>
        </section>
        <section class="product-descripption">
                
                <h4 class="marca">Samsung</h4>
                <h2 class="modelo">Galaxy Note 20 Ultra</h2>
                <p class="precio-antes">$ 6,000.00</p>
                <h2 class="precio">$ 4,298.00 </h2>
                <h5 class="colores">Colores disponibles:</h5>
                <div class="contenedor-colores">
                    <div class="selector-colores"></div>
                    <div class="selector-colores"></div>
                    <div class="selector-colores"></div>
                </div>
                
            <button class="añadir-a-carrito">Añadir al carrito</button>
            <div class ="promesa-de-compra">
                <div class="promesa-de-valor">
                    <div class="iconos-promesa">
                        <i class="fas fa-clock"></i>
                    </div>
                    <p> Entrega en 2 días </p>
                </div>

                <div class="promesa-de-valor">
                    <div class="iconos-promesa">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <p> Envío gratis </p>

                </div>

                <div class="promesa-de-valor">
                    <div class="iconos-promesa">
                        <i class="fas fa-shield-alt"></i>

                    </div>
                    <p> Compra segura </p>

                </div>

            </div>

        </section>
        <section class="descripcion-detalles">
            <ul class="especificaciones">
                <li><a href="#">Descripción</a></li>
                <li><a href="#">Especificaciones</a></li>
            </ul>
        </section>
    </main>
    <footer></footer>

</body>
</html>