<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Vinculación CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    
  <!-- Script íconos -->
    <script src="https://kit.fontawesome.com/1f09d8586f.js" crossorigin="anonymous"></script>

    <title>ElectroDoggy</title>
  </head>
  <body>
    <header class="header">Aquí va el header de Diego

    </header>

    <main>
      <div class="home-slider">
        <div class="home-slider-img" id="slider">
          <div class="home-slider-section">
            <img src="images/slider/slider-mobile-1.jpg" alt="" class="home-banner-img">
          </div>
          <div class="home-slider-section">
            <img src="images/slider/slider-mobile-1.jpg" alt="" class="home-banner-img">
          </div>         
          <div class="home-slider-section">
            <img src="images/slider/slider-mobile-1.jpg" alt="" class="home-banner-img">
          </div>
      </div>
      
      <div class="home-flechas-slider home-flechas-slider-derecha"><i class="fas fa-chevron-right"></i></div>
      <div class="home-flechas-slider home-flechas-slider-izquierda"><i class="fas fa-chevron-left"></i></div>
      
      <div class="home-bullets">
      <div class="home-bullets-1"><i class="fas fa-circle"></i></div>
      <div class="home-bullets-2"><i class="fas fa-circle"></i></div>
      <div class="home-bullets-3"><i class="fas fa-circle"></i></div>
      </div>

    </div>

    <section class="home-destacados">
      <div class="home-titulo">
        <h4>Lo mejor del mundo Gamer</h4>
        <button><i class="fas fa-chevron-right"></i></button>
      </div>
      <div class="home-destacados-img">
        <ul>
          <li><img src="images/destacados/destacado1.jpg"></li>
          <li><img src="images/destacados/destacado1.jpg"></li>
          <li><img src="images/destacados/destacado1.jpg"></li>
          <li><img src="images/destacados/destacado1.jpg"></li>
        </ul>
      </div>
    </section>
    <section class="home-todo-vitrinas">
      <div class="home-titulo">
        <h4>Los mejores descuentos</h4>
        <button><i class="fas fa-chevron-right"></i></button>
      </div>
      <div class="home-vitrinas">
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto1.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto2.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto3.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto4.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto5.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>

      <div class="home-flechas-vitrinas home-flechas-vitrinas-derecha"><i class="fas fa-chevron-right"></i></div>
      <div class="home-flechas-vitrinas home-flechas-vitrinas-izquierda"><i class="fas fa-chevron-left"></i></div>

      </div>

      <div class="home-bullets">
        <div class="home-bullets-1"><i class="fas fa-circle"></i></div>
        <div class="home-bullets-2"><i class="fas fa-circle"></i></div>
        <div class="home-bullets-3"><i class="fas fa-circle"></i></div>
      </div>

    </section>
    <section class="home-todo-vitrinas">
      <div class="home-titulo">
        <h4>Los más vendidos</h4>
        <button><i class="fas fa-chevron-right"></i></button>
      </div>
      <div class="home-vitrinas">
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto5.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto4.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto3.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto2.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>
      <article class="home-producto-vitrinas">
        <div class="home-descuento-vitrinas">
          <h5>-28%</h5>
        </div>
        <img src="images/productos/producto1.jpg" class="home-imagenes-vitrinas">
        <div class="home-textos-vitrinas">
          <h5>Samsung</h5>
          <p>Galaxy Note 20 Ultra</p>
          <h6>S/6,000.00</h6>
          <h3>S/4,298.00</h3>
        </div>
      </article>

      <div class="home-flechas-vitrinas home-flechas-vitrinas-derecha"><i class="fas fa-chevron-right"></i></div>
      <div class="home-flechas-vitrinas home-flechas-vitrinas-izquierda"><i class="fas fa-chevron-left"></i></div>
      
      </div>

      <div class="home-bullets">
        <div class="home-bullets-1"><i class="fas fa-circle"></i></div>
        <div class="home-bullets-2"><i class="fas fa-circle"></i></div>
        <div class="home-bullets-3"><i class="fas fa-circle"></i></div>
      </div>

    </section>
    </main>
  </body>
</html>
