/* Generales */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

p {
    font-family: lato;
    font-size: 14px;
    color: #3D494F;
    font-weight: 400;
}

h3{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
}

h4{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
}

h5{
    font-size: 14px;
    font-family: Poppins;
    font-weight: 600;
}

h6{
    font-size: 12px;
    font-family: lato;
    font-weight: 400;
}

/* Home */

/* Slider */

.home-slider{
    background-color: #C3D2D8;
    height: 400px;
}

/* Títulos de Secciones */

div.home-titulo{
    background-color: #3D494F;
    border-radius: 6px;
    display: flex;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 16px;
    margin: 30px 0px 20px 0px;
}

div.home-titulo button{
    background-color: #3D494F;
    border-style: none;
    padding: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

div.home-titulo i{
    padding: 0;
    color: white;
    font-size: 20px;
}

/* Destacados */

.home-destacados-img{
    display: flex;
    padding: 0;
    overflow-x: scroll;
    cursor: pointer;
    margin: 0;
}

.home-destacados-img::-webkit-scrollbar{
    width: 0;
    height: 0;

}

.home-destacados-img ul{
    display: flex;
    padding: 0;
}

.home-destacados-img li{
    list-style: none;
    margin-right: 10px;
}

.home-destacados{
    margin: 0 16px ;
}

/* Vitrinas */

.home-todo-vitrinas{
    margin: 0 16px ;
}

.home-vitrinas{
    display: flex;
    padding: 20px 0;
    overflow: scroll;
}

.home-vitrinas::-webkit-scrollbar{
    width: 0;
    height: 0;

}

.home-descuento-vitrinas{
    position: absolute;
    background-color: #3D494F;
    border-radius: 4px;
    color: white;
    text-align: center;
    left: 4px;
    top: 4px;
    width: 46px;
    height: 24px;
    align-items: center;
}

.home-descuento-vitrinas h5{
    text-align: center;
    margin-top: 2px;
}

.home-producto-vitrinas{
    width: 170px;
    border: solid 1px #E4EEF1;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.home-imagenes-vitrinas{
    padding: 0;
    height: 168px;

}

.home-textos-vitrinas{
    color: #3D494F;
    text-align: center;
}

.home-textos-vitrinas h5{
    margin: 12px 0 6px 0;
}

.home-textos-vitrinas p{
    margin: 0;
}

.home-textos-vitrinas h6{
    margin: 0;
}

.home-textos-vitrinas h6{
    margin: 6px 0 18px 0;
}

/* Breakpoints */

    /* Tablets */

@media(min-width:769px){
    .home-destacados{
        margin: 0 40px ;
    }

    .home-todo-vitrinas{
        margin: 0 40px ;
    }

    .home-producto-vitrinas{
        width: 223px;

    }

    .home-imagenes-vitrinas{
        height: 221px;
    }
}

    /* Desktop */

@media(min-width:1279px){
    .home-destacados{
        margin: 0 120px ;
    }
    .home-todo-vitrinas{
        margin: 0 120px ;
    }

    .home-vitrinas{
        align-items: center;
        padding: 20px 0;
        justify-content: space-between;
    }

    .home-producto-vitrinas{
        margin-right: 0;
 
    }

    .home-destacados-img{
        justify-content: space-between;
        overflow-x: none;
    }

    .home-destacados-img li{
        margin-right: 20px;
    }

}

/*--------------------------------- Carrito Compras-------------------------------- */


main{
    padding: 0px 15px;
}


.miCarrito{
    width: 202px;
    height: 24px;
    left: 16px;
    top: 160px;
    margin: auto 0px;
}

.carrito-linea,
.carrito-lineaProd{
    opacity: 0.5;
    margin: 20px 0px;
    width: 100%;
}

.carrito-imgProd{
    width: 25%;
    float: left;
}

.carrito-imgCantPrecio{
    display: flex;
}

.carrito-tacho{
    float: right;
    opacity: 0.5;
    padding-right: 10px;
}

.carrito-marca{
    padding-top: 25px;
    padding-bottom: 2px;
}

.carrito-nombre{
    padding-bottom: 20px;
    padding-left: 2px;
}

.carrito-montosProd{
    float: right;
    padding-right: 10px;
} 


/* Para que no se vean las flechas del input number */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* ------------------------------------------------ */


.carrito-agregandoProd{
    text-align: center;
    font-size: 13.5px;
    border: solid #3D494F 1px;
    border-radius: 4px;
    width: 16px;
}

.carrito-precioCant{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} 

.carrito-menos,
.carrito-mas{
    border-radius: 4px;
    width: 16px;
    background-color: #E4EEF1;
    color:#3D494F;
    border-style: none;
}

.carrito-cantidad{
    margin-left: 8px;
    float: left;
}   

.carrito-sinDescuento{
    text-decoration: line-through;
}

.carrito-conDescuento{
    align-items: center;
}

.carrito-resumenTexto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carrito-resumenTexto{
    margin: 10px auto;
}

.carrito-total{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carrito-botonesFin{
    text-align: center;
    font-family: Poppins;
}

.carrito-finalizarCompra{
    display: block;
    border:#3D494F 2px solid;
    background-color: #3D494F;
    color: white;
    border-radius: 6px;
    width: 90%;
    height: 54px;
    font-size: 16px;
    margin-left: auto;    
    margin-right: auto;
}

.carrito-seguirComprando{
    border: none;
    text-decoration: underline;
    font-size: 16px;
    width: 80%;
    height: 24px;
    margin-top: 30px;
    background-color: white;
}

.carrito-tarjetas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    margin: 25px 0px;
}

.carrito-tarjetasIconos{
    margin: 10px 5px;
}


#carrito-visa{
    margin: 0px 5px;
}


/* Breakpoints Carrito */

    /* Tablets */

    @media(min-width:769px){
        .carrito-tacho{
            font-size: 20px;
        }
        .carrito-cantidad{
            margin-left: 4%;
        }

        .carrito-mas,
        .carrito-menos{
            width: 2rem;
            height: 2rem;
        }

        .carrito-agregandoProd{
            height: 2rem;
            width: 3rem;
        }

    }


    /* Desktop */
    
    @media(min-width:1279px){
        main{
            max-width: 1279px;
            margin: 0 auto;
        }

        .carrito-producto{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }

        .carrito-marca,
        .carrito-nombre{
            padding-right: 50px;
        }

        .carrito-tacho{
            justify-content: start;
            order: 1;
            padding: 0px;
            font-size: 24px;
        }

        .carrito-cantidad{
            margin-right: 30px;
            margin-left: 0px;
        }

        .carrito-montosProd{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }

        .carrito-sinDescuento{
            margin-right: 20px;
        }

        .carritoPrueba{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row ;
            justify-content: space-around;
            align-items: center;
        }

        .carrito-botonesFin{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: right;
            align-items: center;
        }

        .carritoAyuda{
            width: 30%;
            margin-left: 15px;
            padding: 20px auto;
        }

        .carrito-seguirComprando{
            text-align: center;
            padding-right: 65px;
            margin-top: 15px;
        }

        .carrito-lineaProd{
            display: none;
        }

        .carrito-totalesCompra{
            align-items: left;
            width: 80%;
            margin-left: 30px;
        }

        .carrito-precioCant{
            margin-left: 20px;
            justify-content: center;
        }

        .carrito-nombre{
            padding-left: 0px;
        }

        .carrito-textoProd{
            width: 30%;
        }

    }