<header class="header">
  <div class="header-main-bar-container">
    <i class="fas fa-bars" id="header-menu-button"></i>
    <!-- <p class="header-electrodoggy-header-text">ElectroDoggy</p> -->
    <div><img src="images/logo.png" /></div>
    <a href="./login">
      <i class="fas fa-user" id="header-user-button"></i>
    </a>
    <a href="">
      <i class="fas fa-shopping-cart" id="header-shopping-cart-button"></i>
    </a>
  </div>

  <div class="header-find-bar-container">
    <input
      type="text"
      placeholder="Buscar productos"
      class="header-find-products-input"
    />
    <i class="fas fa-search" id="header-movile-find-button"></i>
  </div>

  <!-- ====== DESKTOP HEADER ======= -->

  <div class="desktop-header">
    <div>
      <a href="/"><img src="/images/logo.png" /></a>
    </div>
    <!--<a href="/" style="text-decoration: none"><p>ElectroDoggy</p> </a>-->
    <input
      type="text"
      placeholder="Buscar productos"
      class="header-find-products-input"
    />
    <button class="find-button">
      <i class="fas fa-search" id="header-find-icon"></i>
    </button>

    <div class="desktop-header-user-button">
      <a href="./login">
        <i class="fas fa-user" id="header-user-button"></i>
      </a>
      <p>Iniciar Sesión</p>
    </div>

    <div class="desktop-header-shopping-cart-button">
      <a href="./carrito-compras"><i class="fas fa-shopping-cart" id="header-shopping-cart-button"></i></a>
      <p>Mi Carrito</p>
    </div>

    <div class="desktop-header-shopping-cart-button">
      <a href="./crear-productos"><i class="fas fa-plus" id="header-shopping-cart-button"></i></a>
      <p>Crear Producto</p>
    </div>

  </div>

  <div class="header-nav-bar-navigation">
    <ul>
      <div class="header-link-container">
        <ul>
          <li>
            <a href="#Celulares"><i class="fas fa-mobile"></i> Celulares</a>
            <a href="#Laptops"><i class="fas fa-laptop"></i> Laptops</a>
            <a href="#Tablets"><i class="fas fa-tablet-alt"></i> Tablets</a>
            <a href="#Gamer"><i class="fas fa-gamepad"></i> Gamer</a>
            <a href="#Audio"><i class="fas fa-headphones"></i> Audio</a>
            <a href="#Accesorios"><i class="fas fa-keyboard"></i> Accesorios</a>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</header>
