<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Vinculación CSS -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Script íconos -->
    <script
      src="https://kit.fontawesome.com/1f09d8586f.js"
      crossorigin="anonymous"
      src="https://kit.fontawesome.com/fe4cf9d18e.js"
      crossorigin="anonymous"
    ></script>

    <title>Crear Productos</title>
  </head>
  <body>


    <!-- ===== START OF HEADER  ====== -->

    <header class="header">
      <div class="header-main-bar-container">
        <i class="fas fa-bars" id="header-menu-button"></i>
        <p class="header-electrodoggy-header-text">ElectroDoggy</p>
        <a href="./login">
          <i class="fas fa-user" id="header-user-button"></i>
        </a>
        <a href="">
          <i class="fas fa-shopping-cart" id="header-shopping-cart-button"></i>
        </a>
      </div>



      <!-- ====== DESKTOP HEADER ======= -->

      <div class="desktop-header">
        <a href="/" style="text-decoration: none"><p>ElectroDoggy</p> </a>
        <input
          type="text"
          placeholder="Buscar productos"
          class="header-find-products-input"
        />
        <button class="find-button">
          <i class="fas fa-search" id="header-find-icon"></i>
        </button>

        <div class="desktop-header-user-button">
          <a href="./login">
            <i class="fas fa-user" id="header-user-button"></i>
          </a>
          <p>Iniciar Sesión</p>
        </div>

        <div class="desktop-header-shopping-cart-button">
          <a href="./carrito-compras">
            <i
              class="fas fa-shopping-cart"
              id="header-shopping-cart-button"
            ></i>
          </a>
          <p>Mi Carrito</p>
        </div>
      </div>

      <div class="header-nav-bar-navigation">
        <ul>
          <div class="header-link-container">
            <ul>
              <li>
                <a href="#Celulares"><i class="fas fa-mobile"></i> Celulares</a>
                <a href="#Laptops"><i class="fas fa-laptop"></i> Laptops</a>
                <a href="#Tablets"><i class="fas fa-tablet-alt"></i> Tablets</a>
                <a href="#Gamer"><i class="fas fa-gamepad"></i> Gamer</a>
                <a href="#Audio"><i class="fas fa-headphones"></i> Audio</a>
                <a href="#Accesorios"
                  ><i class="fas fa-keyboard"></i> Accesorios</a
                >
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </header>

    <!-- END OF HEADER -->



    <div class="rg-rg-register-form-container">
      <h3 class="rg-register-label">Crear Productos</h3>
      <form action="POST" name="rg-register-form" class="rg-register-form">
        <input
          type="text"
          placeholder="Marca"
          class="rg-form-input-text"
          name="marca"
          required
        />

        <input
          type="text"
          placeholder="Nombre del producto"
          name="nombreProducto"
          class="rg-form-input-text"
          required
        />

        <input
          type="number"
          placeholder="Precio Oferta"
          name="precioOferta"
          class="rg-form-input-text"
        />

        <input
          type="number"
          placeholder="Precio Regular"
          name="precioRegular"
          class="rg-form-input-text"
          required
        />

        <input
          type="number"
          placeholder="Descuento"
          name="descuento"
          class="rg-form-input-text"
        />
        
        <h3 class="cp-tituloSeccion" >Colores</h3>
        <div class="cp-chekboxColores">
          <label for="colores">
            <input
              type="checkbox"
              name="colores"
              value="rojo"
              id="rojo"
            /> Rojo</label
          >
          <label for="colores">
            <input
              type="checkbox"
              name="colores"
              value="Azul"
              id="Azul"
            /> Azul</label
          >
          <label for="colores">
            <input
              type="checkbox"
              name="colores"
              value="blanco"
              id="blanco"
            /> Blanco</label
          >
          <label for="colores">
            <input
              type="checkbox"
              name="colores"
              value="negro"
              id="negro"
            /> Negro</label
          >
          <label for="colores">
            <input
              type="checkbox"
              name="colores"
              value="rosa"
              id="rosa"
            /> Rosa</label
          >
          <label for="colores">
            <input
              type="checkbox"
              name="colores"
              value="verde"
              id="verde"
            /> Verde</label
          >
          <label for="colores">
            <input
              type="checkbox"
              name="colores"
              value="gris"
              id="gris"
            /> Gris</label
          >
        </div>
        <label for="imagenProducto" class="cp-tituloSeccion "> Imagen del producto</label>
        <input
          id="imagenProducto"
          type="file"
          name="images"
          accept="jpg, png, jpeg"
          class="rg-form-input-text subirArchivo" 
          multiple
          required
          
        />

        <label for="especificaciones" class="cp-tituloSeccion"> Especificaciones:</label>
        <textarea name="especificaciones" id="especificaciones" class="cp-textAreaInput"> Especificaciones</textarea
        >

        <label for="descripcion" class="cp-tituloSeccion"> Descripción:</label>
        <textarea name="descripcion" id="descripcion" class="cp-textAreaInput"> Descripción del producto</textarea>

        <input
          type="number"
          placeholder="Stock"
          name="stock"
          class="rg-form-input-text"
          required
        />
        <h3 class="cp-tituloSeccion" >Categorias</h3>
        <div class="cp-contenedorSelectorCategoria">
          <select name="categoria" id="" required class="cp-selectorCategoria">
            <option value="">Selecciona una categoria</option>
            <option value="celulares">Celulares</option>
            <option value="laptops">Laptops</option>
            <option value="tablets">Tablets</option>
            <option value="gamer">Gamer</option>
            <option value="audio">Audio</option>
            <option value="accesorios">Accesorios</option>
          </select>
        </div>
        <br />
        <br />
        <button type="submit" class="rg-register-form-button">Guardar</button>
        <button type="reset" class="rg-register-form-button">Cancelar</button>
      </form>
    </div>

        <!-- ======= START OF FOOTER  ====== -->

        <footer>
          <h3 class="footer-electrodoggy-text">ElectroDoggy</h3>
    
          <div class="footer-container">
            <h3>Servicio al cliente</h3>
            <h5>Preguntas frecuentes</h5>
            <h5>Términos y condiciones</h5>
            <h5>Politicas de privacidad</h5>
          </div>
    
          <hr />
    
          <div class="footer-container">
            <h3>Conócenos</h3>
            <h5>Sobre nosotros</h5>
            <h5>Nuestras tiendas</h5>
          </div>
    
          <hr />
    
          <div class="footer-container-icons">
            <h3>Síguenos en:</h3>
            <i class="fab fa-facebook" id="footer-icons-footer"></i>
            <i class="fab fa-twitter" id="footer-icons-footer"></i>
            <i class="fab fa-instagram" id="footer-icons-footer"></i>
          </div>
    
          <div class="footer-copy-right">
            <i class="fas fa-copyright" id="footer-copy-right-icon"></i>
            <p class="footer-copy-right-text">
              2022 ElectroDoggy. Todos los derechos reservados
            </p>
          </div>
        </footer>
    
        <!-- ===== END OF FOOTER  ====== -->
  </body>
</html>
