<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle-de-producto</title>
    <!-- Vinculación CSS -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Script íconos -->
    <script
      src="https://kit.fontawesome.com/1f09d8586f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- ===== START OF HEADER  ====== -->

    <header class="header">
      <div class="header-main-bar-container">
        <i class="fas fa-bars" id="header-menu-button"></i>
        <p class="header-electrodoggy-header-text">ElectroDoggy</p>
        <a href="./login">
          <i class="fas fa-user" id="header-user-button"></i>
        </a>
        <a href="">
          <i class="fas fa-shopping-cart" id="header-shopping-cart-button"></i>
        </a>
      </div>

      <div class="header-find-bar-container">
        <input
          type="text"
          placeholder="Buscar productos"
          class="header-find-products-input"
        />
        <i class="fas fa-search" id="header-movile-find-button"></i>
      </div>

      <!-- ====== DESKTOP HEADER ======= -->

      <div class="desktop-header">
        <a href="/" style="text-decoration: none"><p>ElectroDoggy</p> </a>
        <input
          type="text"
          placeholder="Buscar productos"
          class="header-find-products-input"
        />
        <button class="find-button">
          <i class="fas fa-search" id="header-find-icon"></i>
        </button>

        <div class="desktop-header-user-button">
          <a href="./login">
            <i class="fas fa-user" id="header-user-button"></i>
          </a>
          <p>Iniciar Sesión</p>
        </div>

        <div class="desktop-header-shopping-cart-button">
          <a href="./carrito-compras">
            <i
              class="fas fa-shopping-cart"
              id="header-shopping-cart-button"
            ></i>
          </a>
          <p>Mi Carrito</p>
        </div>
      </div>

      <div class="header-nav-bar-navigation">
        <ul>
          <div class="header-link-container">
            <ul>
              <li>
                <a href="#Celulares"><i class="fas fa-mobile"></i> Celulares</a>
                <a href="#Laptops"><i class="fas fa-laptop"></i> Laptops</a>
                <a href="#Tablets"><i class="fas fa-tablet-alt"></i> Tablets</a>
                <a href="#Gamer"><i class="fas fa-gamepad"></i> Gamer</a>
                <a href="#Audio"><i class="fas fa-headphones"></i> Audio</a>
                <a href="#Accesorios"
                  ><i class="fas fa-keyboard"></i> Accesorios</a
                >
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </header>

    <!-- ===== END OF HEADER ====== -->

    <main class="dp-main">
      <div>Inicio > Celulares > Galaxy Note 20 Ultra</div>
      <div class="dp-informacion-producto">
        <section class="dp-contenedorImagenes">
          <div class="dp-imagenPrincipal">
            <img
              class="dp-imagen-producto"
              src="images/productos/producto1.jpg"
              alt=""
            />
          </div>
          <div class="dp-slider-miniaturas">
            <div class="dp-container-miniatura">
              <img
                class="dp-miniatura-producto"
                src="images/productos/producto2.jpg"
                alt=""
              />
            </div>
            <div class="dp-container-miniatura">
              <img
                class="dp-miniatura-producto"
                src="images/productos/producto3.jpg"
                alt=""
              />
            </div>
            <div class="dp-container-miniatura">
              <img
                class="dp-miniatura-producto"
                src="images/productos/producto4.jpg"
                alt=""
              />
            </div>
            <!-- <img class ="dp-miniatura-producto" src="images/productos/producto3.jpg" alt="">
                    <img class ="dp-miniatura-producto" src="images/productos/producto4.jpg" alt=""> -->
          </div>
        </section>
        <section class="dp-product-description">
          <h4 class="dp-marca">Samsung</h4>
          <h2 class="dp-modelo">Galaxy Note 20 Ultra</h2>
          <p class="dp-precio-antes">$ 6,000.00</p>
          <h2 class="dp-precio">$ 4,298.00</h2>
          <h5 class="dp-colores">Colores disponibles:</h5>
          <div class="dp-contenedor-colores">
            <div class="dp-selector-colores"></div>
            <div class="dp-selector-colores"></div>
            <div class="dp-selector-colores"></div>
          </div>

          <div class="dp-selectorCantidades">
            <button class="dp-selectorCantidades-resta">-</button>
            <input
              type="number"
              class="dp-selectorCantidades-numero"
              value="1"
              step="1"
            />
            <button class="dp-selectorCantidades-suma">+</button>
          </div>

          <button class="dp-añadir-a-carrito">Añadir al carrito</button>
          <div class="dp-promesa-de-compra">
            <div class="dp-promesa-de-valor">
              <div class="dp-iconos-promesa">
                <i class="fas fa-clock"></i>
              </div>
              <p>Entrega en 2 días</p>
            </div>

            <div class="dp-promesa-de-valor">
              <div class="dp-iconos-promesa">
                <i class="fas fa-shipping-fast"></i>
              </div>
              <p>Envío gratis</p>
            </div>

            <div class="dp-promesa-de-valor">
              <div class="dp-iconos-promesa">
                <i class="fas fa-shield-alt"></i>
              </div>
              <p>Compra segura</p>
            </div>
          </div>
        </section>
      </div>
      <section class="dp-descripcion-detalles">
        <ul class="dp-especificaciones">
          <li><a href="#">Descripción</a></li>
          <li><a href="#">Especificaciones</a></li>
        </ul>
        <p class="dp-especificacionTexto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ut tellus
          facilisi sit viverra consequat at. Sagittis fringilla mattis non at
          auctor curabitur vitae tempor tincidunt. Sapien integer non semper a
          facilisis cursus ac pulvinar dolor. Non, suspendisse in risus sed
          diam.
        </p>
      </section>
    </main>

    <!-- ======= START OF FOOTER  ====== -->

    <footer>
      <h3 class="footer-electrodoggy-text">ElectroDoggy</h3>

      <div class="footer-container">
        <h3>Servicio al cliente</h3>
        <h5>Preguntas frecuentes</h5>
        <h5>Términos y condiciones</h5>
        <h5>Politicas de privacidad</h5>
      </div>

      <hr />

      <div class="footer-container">
        <h3>Conócenos</h3>
        <h5>Sobre nosotros</h5>
        <h5>Nuestras tiendas</h5>
      </div>

      <hr />

      <div class="footer-container-icons">
        <h3>Síguenos en:</h3>
        <i class="fab fa-facebook" id="footer-icons-footer"></i>
        <i class="fab fa-twitter" id="footer-icons-footer"></i>
        <i class="fab fa-instagram" id="footer-icons-footer"></i>
      </div>

      <div class="footer-copy-right">
        <i class="fas fa-copyright" id="footer-copy-right-icon"></i>
        <p class="footer-copy-right-text">
          2022 ElectroDoggy. Todos los derechos reservados
        </p>
      </div>
    </footer>

    <!-- ===== END OF FOOTER  ====== -->
  </body>
</html>
