<!DOCTYPE html>
<html lang="en">
  <!-- ======== HEAD =================== -->
  <%- include('../partials/head.ejs') %>

  <body>
    <!-- ===== HEADER  ================= -->

    <%- include('../partials/headerAdmin.ejs') %>

    <!-- ===== PRODUCTS EDIT  ================= -->

    <div class="rg-rg-register-form-container cp-editar-form-contenedor">
      <h3 class="rg-register-label">Editar producto</h3>
      <form
        action="POST"
        name="rg-register-form"
        class="rg-register-form cp-editarProducto"
      >
        <div class="cp-editarImagen">
          <label for="imagenProducto" class="cp-tituloSeccion">
            Imagen del producto</label
          >
          <img
            class="cp-subirImagen"
            src="/images/productos/producto1.jpg"
            alt=""
          />
          <input
            id="imagenProducto"
            type="file"
            name="images"
            accept="jpg, png, jpeg"
            class="rg-form-input-text subirArchivo"
            placeholder="Reemplazar imagen "
            multiple
            required
          />
        </div>

        <div class="cp-detallesProducto">
          <input
            type="text"
            placeholder="Samsung"
            class="rg-form-input-text"
            name="marca"
            required
            value="samsung"
          />

          <input
            type="text"
            placeholder="Galaxy Note 20 Ultra"
            name="nombreProducto"
            class="rg-form-input-text"
            required
            value="Galaxy Note 20 Ultra"
          />

          <input
            type="number"
            placeholder="4,298.00"
            name="precioOferta"
            class="rg-form-input-text"
            value="4,298.00"
          />

          <input
            type="number"
            placeholder="6,000.00"
            name="precioRegular"
            class="rg-form-input-text"
            value="6,000.00"
            required
          />

          <input
            type="number"
            placeholder="18%"
            name="descuento"
            value="18"
            class="rg-form-input-text"
          />

          <h3 class="cp-tituloSeccion">Colores</h3>
          <div class="cp-chekboxColores">
            <label for="colores">
              <input
                type="checkbox"
                name="colores"
                value="rojo"
                id="rojo"
                checked
              />
              Rojo</label
            >
            <label for="colores">
              <input
                type="checkbox"
                name="colores"
                value="Azul"
                id="Azul"
                checked
              />
              Azul</label
            >
            <label for="colores">
              <input
                type="checkbox"
                name="colores"
                value="blanco"
                id="blanco"
                checked
              />
              Blanco</label
            >
            <label for="colores">
              <input type="checkbox" name="colores" value="negro" id="negro" />
              Negro</label
            >
            <label for="colores">
              <input type="checkbox" name="colores" value="rosa" id="rosa" />
              Rosa</label
            >
            <label for="colores">
              <input type="checkbox" name="colores" value="verde" id="verde" />
              Verde</label
            >
            <label for="colores">
              <input type="checkbox" name="colores" value="gris" id="gris" />
              Gris</label
            >
          </div>

          <label for="especificaciones" class="cp-tituloSeccion">
            Especificaciones:</label
          >
          <textarea
            name="especificaciones"
            id="especificaciones"
            class="cp-textAreaInput"
          >
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ut tellus facilisi sit viverra consequat at. Sagittis fringilla mattis non at auctor curabitur vitae tempor tincidunt. Sapien integer non semper a facilisis cursus ac pulvinar dolor. Non, suspendisse in risus sed diam</textarea
          >

          <label for="descripcion" class="cp-tituloSeccion">
            Descripción:</label
          >
          <textarea
            name="descripcion"
            id="descripcion"
            class="cp-textAreaInput"
          >
Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ut tellus facilisi sit viverra consequat at. Sagittis fringilla mattis non at auctor curabitur vitae tempor tincidunt. Sapien integer non semper a facilisis cursus ac pulvinar dolor. Non, suspendisse in risus sed diam</textarea
          >

          <input
            type="number"
            placeholder="4"
            name="stock"
            class="rg-form-input-text"
            required
            value="4"
          />
          <h3 class="cp-tituloSeccion">Categorias</h3>
          <div class="cp-contenedorSelectorCategoria">
            <select
              name="categoria"
              id=""
              required
              class="cp-selectorCategoria"
            >
              <option value="">Selecciona una categoria</option>
              <option value="celulares" selected>Celulares</option>
              <option value="laptops">Laptops</option>
              <option value="tablets">Tablets</option>
              <option value="gamer">Gamer</option>
              <option value="audio">Audio</option>
              <option value="accesorios">Accesorios</option>
            </select>
          </div>
          <br />
          <br />
          <button type="submit" class="rg-register-form-button">Editar</button>
          <button type="reset" class="rg-register-form-button">Borrar</button>
        </div>
      </form>
    </div>

    <!-- ======= FOOTER  ====== -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
